.status__table {
  margin: 50px auto 30px auto;
  color: #5B5B5B;
}

.status__table th {
  padding: 10px 50px;
}

.status__table > tbody > tr > th:first-child {
  text-align: left;
}

.status__logo {
  height: 60px;
}

.status__icon {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.status__icon--operational {
  background-color: #00D63D;
}

.status__icon--maintenance {
  background-color: #FF8C00;
}

.status__icon--stopped {
  background-color: #FF3333;
}

.status__icon--development {
  background-color: #777777;
}

.status__description {
  display: inline-block;
}

.status__description--operational {
  color: #00D63D;
}

.status__description--maintenance {
  color: #FF8C00;
}

.status__description--stopped {
  color: #FF3333;
}

.status__description--development {
  color: #777777;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover:after {
  content: attr(data-tooltip);

  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
  font-size: 12px;

  z-index: 9999;
}
