@import 'styles/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid $very-light-pink;
  border-radius: 5px;
  width: 215px;
  height: 96px;
  box-sizing: border-box;
  padding: 16px 24px;
  align-items: flex-start;
}

.img {
  height: 34px;
}

.status {
  font-size: 14px;
  margin-top: 13px;
  display: flex;

  &::before {
    content: '';
    display: block;
    margin-right: 16px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
  }
}

.status-operational {
  color: $medium-green;
  &::before {
    background-color: $medium-green;
  }
}

.status-maintenance {
  color: $macaroni-and-cheese;
  &::before {
    background-color: $macaroni-and-cheese;
  }
}

.status-stopped {
  color: $faded-red;
  &::before {
    background-color: $faded-red;
  }
}

.status-development {
  color: $brown-grey;
  &::before {
    background-color: $brown-grey;
  }
}
