@import 'styles/colors';
@import 'styles/variables';
@import 'styles/mixins';

$body-padding-top: 60px;

.wrapper {
  min-height: calc(100vh - #{$header-height + $body-padding-top});
  display: flex;
  gap: 48px;

  @include lg-only {
    padding-top: $body-padding-top;
    flex-direction: row;
    justify-content: center;
  }

  @include md-only {
    padding: $body-padding-top 70px 140px;
    flex-direction: column;
  }

  @include sm-only {
    padding: 90px 20px 110px;
    flex-direction: column;
  }
}
