@import 'styles/colors';

.header {
  width: 100%;
  height: 50px;
  border-top: 5px solid $sparcs-orange;
  position: relative;
}

.header__logo {
  height: 27px;
  position: absolute;
  bottom: 12px;
  left: 24px;
}
